<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Recipe Book</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('recipes')">Recipes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a>
    </li>
    <li class="nav-item dropdown" appDropdown>
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Save</a></li>
            <li><a href="#">Edit</a></li>
          </ul>
    </li>
</ul>

